<html>
<head>
<title>
Puppy Rock
</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-extend-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">blahblahblah</a>
    </nav>

    {% block content %}

<p>This is a very simple HTML document</p>
<p>It only has two paragraphs</p>

    {% endblock %}
</body>
</html>